.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
.list-container {
  list-style: none;
}
.list-header-container {
  display: flex;
}
.initCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 18px;
  margin-right: 8px;
  flex-shrink: 0;
}
.name-date-container {
  display: flex;
  justify-content: space-between;
}
.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}
.new-date-container {
  align-items: center;
}
.username {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.date-item {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.comment-ite {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like-container {
  display: flex;
  align-items: center;
}
.like {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
.liked {
  color: #0ea5e9;
}
.delete-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
